:root {
    --bg-color: rgb(54, 54, 54);
    --color: rgb(30, 144, 255);
}
html[data-theme="light"] {
    --bg-color: rgba(211, 211, 211, 0.8);
    --color: rgb(0, 100, 200);
}
html {
    background-color: var(--bg-color);
    color: var(--color);
    cursor: url(icons8-cursor-24.svg), auto;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}
.heading {
    text-align: center;
    padding: 4rem;
    margin-left: 16rem;
    margin-right: 16rem;
    transition: transform 0.5s ease-in-out;
}
.heading:hover {
    transform: scale(1.1);
}
a {
    cursor: url(icons8-hand-cursor-32.svg), auto;
    color: yellow;
}
button {
    cursor: url(icons8-hand-cursor-32.svg), auto;
    position: absolute;
    right: 0rem;
    top: 0rem;
    background-color: var(--color);
    border: 0.625rem;
    border-radius: 0.23rem;
    color: var(--bg-color);
    padding: 0px;
}
.intro {
    max-width: 100%;
    text-align: center;
    padding: 30px;
    border-radius: 1rem;
}
.intro span {
    text-shadow: 0 0 8px #00e6ff;
    font-size: 2rem;
}
.intro p {
    font-size: 1.5rem;
    line-height: 1.6;
}
