:root {
    --background-color: black;
    --color: white;
}
[data-theme="dark"] {
    --background-color: white;
    --color: black;
}
body {
    background-color: var(--background-color);
    color: var(--color);
    cursor: auto;
}
button {
    background-color: var(--background-color);
    position: absolute;
    right: 1px;
    top: 5px;
    cursor: pointer;
}
